.mainNetwork {
    display: flex;
    gap: 50px;
}

.bodyNetworkPubli {
    max-height: 80vh;
    
}

.bodyNetworkSuges {
    max-height: 40vh;
}

@media (max-width: 650px) {
    .bodyNetworkSuges {
        max-height: 15vh;
    }
    .bodyNetworkPubli {
        max-height: 30vh;
    }
}